@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200-1800]: Normal Styles
1800 + : Big Desktop
*/

/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


ORDER: 
Base + Typography > 
General Layout + Grid > 
Page Layout > 
Components





*/

@mixin respond($breakpoint) {
  //600px
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800+px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
